<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite of ">
    <test verbose="2" preserve-order="true" name="G:/NEXT-Selenium/DemoQABookstore">
        <classes>
            <class name="TestCases">
                <methods>
                    <include name="testLogin"/>
                    <include name="testSearchBook"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>